@import url('https://fonts.googleapis.com/css?family=Muli');

p,
a,
h1,
h3 {
    font-family: 'Muli', sans-serif;
    text-align: center;
}

h1,
h3 
 { font-size: 18px; font-weight: bold; }

a { text-decoration: none; }

ul { padding-left: 20px; }